<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-12 col-lg-10">
            <div class="menu_area">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="#"><img class="mr-3" src="assets/logo.png">Computer Database</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ca-navbar" aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="ca-navbar">
                        <ul class="navbar-nav ml-auto" id="nav">
                            <li class="nav-item active"><a class="nav-link active" routerLink="/companies"><i class="fa fa-building"></i> {{ 'nav.companies' | translate }}</a></li>
                            <li class="nav-item"><a class="nav-link active" routerLink="/computers"><i class="fa fa-laptop"></i> {{ 'nav.computers' | translate }}</a></li>
                        </ul>
                        <div class="dropdown" style="color:white;">
                            <i class="fas fa-globe"></i>
                            <select class="selectpicker" id="inlineFormCustomSelect" #langSelect (change)="translate.use(langSelect.value)">
                                <option *ngFor="let lang of translate.getLangs()" [value]="lang" id="languageOptions"> {{ lang.replace(lang.charAt(0),lang.charAt(0).toUpperCase()) }}</option>
                            </select>
                        </div>
                        <div>
                           
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

