:host {
    display: block;
}
input {
    font-family: 'Font Awesome\ 5 Free', "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: 900;
    text-decoration: inherit;
}
.form-group {
    display: flex;
}
.form-group input {
    margin-right: 15px;
}
.custom-select {
    width: 100px;
    height: auto;
}
.add-computer {
    background-color: white;
    border: 2px solid #6546d1;
    color: #6546d1;
    border-radius: 5px;
    margin-left: 10%;

    .fa {
        color: #6546d1;
    }
}
.add-computer:hover {
    background-color: #6546d1;
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    margin-left: 10%;

    .fa {
        color: white;
    }
}

.fa {
    color: #232323;
}

th {
    background-color: #6546d1;
    color: white;
}
.fa-sort{
   color : white;

}
.fa-sort-up{
    color : white;
}
.fa-sort-down{
    color : white;
}

.hover-col:hover {
    cursor: pointer;
}

