:host {
    display: block;
}

th {
    background-color: #6546d1;
    color: white;
}

input {
    font-family: 'Font Awesome\ 5 Free', "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: 900;
    text-decoration: inherit;
}
.form-group {
    display: flex;
}
.form-group input {
    margin-right: 15px;
}
.custom-select {
    width: 100px;
}
.fa {
    color: #232323;
}

.fa-sort {
    color: white;
}
.fa-sort-up{
    color : white;
}
.fa-sort-down{
    color : white;
}

.hover-col:hover {
    cursor: pointer;
}
